<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Variant Sync"
            id="de.ovgu.variantsync">
      </category>
      <view
            name="Resource Changes"
            icon="icons/VariantSyncSupport.png"
            category="de.ovgu.variantsync"
            class="de.ovgu.variantsync.views.ResourceChangesView"
            id="de.ovgu.variantsync.views.ResourceChanges">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="de.ovgu.variantsync.views.ResourceChanges">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="de.ovgu.variantsync.VariantSyncSupportProject"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               icon="icons/VariantSyncSupport.png"
               id="de.ovgu.variantsync.tools.popupMenu"
               label="VariantSync Tools">
            <groupMarker
                  name="group0">
            </groupMarker>
            <groupMarker
                  name="group1">
            </groupMarker>
            <separator
                  name="separator">
            </separator>
         </menu>
         <action
               class="de.ovgu.variantsync.actions.RemoveSyncSupportAction"
               icon="icons/VariantSyncSupport.png"
               id="de.ovgu.variantsync.actions.RemoveSyncSupportAction"
               label="Remove VariantSync Support"
               menubarPath="de.ovgu.variantsync.tools.popupMenu/group0">
         </action>
         <action
               class="de.ovgu.variantsync.actions.ShowChangeViewtAction"
               icon="icons/VariantSyncSupport.png"
               id="de.ovgu.variantsync.actions.ShowChangeViewtAction"
               label="Show Change View"
               menubarPath="de.ovgu.variantsync.tools.popupMenu/group1">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="de.ovgu.variantsync.vsyncSupportProjectNature">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="de.ovgu.variantsync.noVariantSyncSupportProject"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               icon="icons/VariantSyncSupport.png"
               id="de.ovgu.variantsync.tools.popupMenu"
               label="VariantSync Tools">
            <groupMarker
                  name="group0">
            </groupMarker>
            <separator
                  name="separator">
            </separator>
         </menu>
         <action
               class="de.ovgu.variantsync.actions.AddSyncSupportAction"
               icon="icons/VariantSyncSupport.png"
               id="de.ovgu.variantsync.actions.AddSyncSupportAction"
               label="Add VariantSync Support "
               menubarPath="de.ovgu.variantsync.tools.popupMenu/group0">
         </action>
         <visibility>
            <not>
               <objectState
                     name="nature"
                     value="de.ovgu.variantsync.vsyncSupportProjectNature">
               </objectState>
            </not>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         id="vsyncSupportProjectNature"
         name="Variantsync Support Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.ovgu.variantsync.VSyncSupportProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="de.ovgu.variantsync.VSyncSupportProjectDecorator"
            id="de.ovgu.variantsync.VSyncSupportProjectDecorator"
            label="VariantSync Support Project Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="de.ovgu.variantsync.console.ConsoleFactory"
            icon="icons/VariantSyncSupport.png"
            label="VariantSync">
      </consoleFactory>
   </extension>
</plugin>
