<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.tubs.variantsync.core.DeltaFactory" name="DeltaFactory" schema="schema/de.tubs.variantsync.core.deltafactory.exsd"/>
   <extension
         point="de.ovgu.featureide.core.composers">
      <composer
            class="de.tubs.variantsync.core.VariantSyncComposer"
            description="Automating the Synchronization of Software Variants"
            id="de.tubs.variantsync.core.composer"
            name="VariantSync"
            nature="de.tubs.variantsync.core.composer">
      </composer>
   </extension>
   <extension
         id="de.tubs.variantsync.marker.highlighter.red"
         name="Highlighter"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="de.tubs.variantsync.marker.highlighter.orange"
         name="Highlighter"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="de.tubs.variantsync.marker.highlighter.yellow"
         name="Highlighter"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="de.tubs.variantsync.marker.highlighter.darkgreen"
         name="Highlighter"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="de.tubs.variantsync.marker.highlighter.lightgreen"
         name="Highlighter"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="de.tubs.variantsync.marker.highlighter.cyan"
         name="Highlighter"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="de.tubs.variantsync.marker.highlighter.blue"
         name="Highlighter"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="de.tubs.variantsync.marker.highlighter.margenta"
         name="Highlighter"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="de.tubs.variantsync.marker.highlighter.pink"
         name="Highlighter"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="de.tubs.variantsync.marker.highlighter.lightgrey"
         name="Highlighter"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="de.tubs.variantsync.marker.error"
         name="VariantSync Error"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="de.ovgu.featureide.core.configurationProblemMarker">
      </super>
   </extension>
   <extension
         id="variant"
         name="VariantSync Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.tubs.variantsync.core.nature.Variant">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.tubs.variantsync.core.toolbar"
               label="VariantSync">
            <command
                  commandId="de.tubs.variantsync.core.command.featureexpression"
                  icon="icons/FeatureExpressionSmall.png"
                  style="push">
            </command>
            <command
                  commandId="de.tubs.variantsync.core.command.context.active"
                  icon="icons/nav_go.gif"
                  style="toggle">
            </command>
            <control
                  class="de.tubs.variantsync.core.view.context.SelectContextContribution"
                  id="de.tubs.variantsync.core.menus.context">
            </control>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="de.tubs.variantsync.core.command.addNature"
               icon="icons/VariantSyncSupport.png"
               id="de.tubs.variantsync.core.menu.addNature"
               label="Add As Variant"
               style="push"
               tooltip="Adds the VariantSync natures to the selected project">
            <visibleWhen
                  checkEnabled="false">
               <not>
                  <reference
                        definitionId="de.tubs.variantsync.core.hasNature">
                  </reference>
               </not>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               icon="icons/VariantSyncSupport.png"
               id="de.tubs.variantsync.core.menus.popupMenu"
               label="VariantSync">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="de.ovgu.featureide.core.featureProjectNature"
                           property="de.ovgu.featureide.fm.ui.properties.nature"
                           value="true">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.tubs.variantsync.core.menus.popupMenu">
         <command
               commandId="de.tubs.variantsync.core.command.create.variant"
               icon="icons/VariantSyncSupport.png"
               style="push"
               tooltip="Creates a Variant from a configuration">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <reference
                           definitionId="de.ovgu.featureide.fm.ui.expressions.isConfiguration">
                     </reference>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:de.tubs.variantsync.core.menus.context">
         <dynamic
               class="de.tubs.variantsync.core.view.context.DynamicContextDropDownItems"
               id="de.tubs.variantsync.core.menu.context.items">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#CompilationUnitEditorContext?after=additions">
         <menu
               icon="icons/VariantSyncSupport.png"
               label="Map Selection To Feature">
            <dynamic
                  class="de.tubs.variantsync.core.view.context.DynamicContextPopupItems"
                  id="de.tubs.variantsync.core.menu.context.items.manually">
            </dynamic>
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.jface.text.ITextSelection">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ui.handlers.ShowViewHandler"
            id="de.tubs.variantsync.core.command.source-view"
            name="Show Source-Focused View">
      </command>
      <command
            defaultHandler="org.eclipse.ui.handlers.ShowViewHandler"
            id="de.tubs.variantsync.core.command.target-view"
            name="Show Target-Focused View">
      </command>
      <command
            defaultHandler="de.tubs.variantsync.core.view.featureexpressions.FeatureExpressionsHandler"
            id="de.tubs.variantsync.core.command.featureexpression"
            name="Feature Expressions">
      </command>
      <command
            defaultHandler="de.tubs.variantsync.core.view.context.SelectContextHandler"
            description="Select Context"
            id="de.tubs.variantsync.core.command.context"
            name="Default Context">
         <commandParameter
               id="de.tubs.variantsync.core.command.context.msg"
               name="Message"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.tubs.variantsync.core.view.context.ActiveContextHandler"
            id="de.tubs.variantsync.core.command.context.active"
            name="Active context">
      </command>
      <command
            defaultHandler="org.eclipse.ui.handlers.ShowViewHandler"
            id="de.tubs.variantsync.core.command.resourcechanges"
            name="Show Resource Changes">
      </command>
      <command
            categoryId="de.tubs.variantsync.core.category"
            defaultHandler="de.tubs.variantsync.core.commands.AddVariantNature"
            id="de.tubs.variantsync.core.command.addNature"
            name="Add Variant">
      </command>
      <category
            id="de.tubs.variantsync.core.category"
            name="VariantSync">
      </category>
      <command
            categoryId="de.tubs.variantsync.core.category"
            defaultHandler="de.tubs.variantsync.core.commands.CreateVariantProject"
            id="de.tubs.variantsync.core.command.create.variant"
            name="Create Variant Project">
      </command>
      <command
            categoryId="de.tubs.variantsync.core.category"
            defaultHandler="de.tubs.variantsync.core.commands.SetContextManually"
            id="de.tubs.variantsync.core.command.context.manually"
            name="Set Feature To ...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="de.tubs.variantsync.core.view.resourcechanges"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
         <view
               id="de.tubs.variantsync.core.view.featureexpressions"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
         <view
               id="de.tubs.variantsync.core.view.sourcefocus"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="de.tubs.variantsync.core.view.resourcechanges"
               visible="true">
         </view>
         <view
               id="de.tubs.variantsync.core.view.targetfocus"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="de.tubs.variantsync.core.view.sourcefocus"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.tubs.variantsync.core.category"
            class="de.tubs.variantsync.core.view.resourcechanges.View"
            icon="icons/change_obj.gif"
            id="de.tubs.variantsync.core.view.resourcechanges"
            name="Resource Changes"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.tubs.variantsync.core.category"
            class="de.tubs.variantsync.core.view.sourcefocus.View"
            icon="icons/VariantSyncSupport.png"
            id="de.tubs.variantsync.core.view.sourcefocus"
            name="Source-Focused View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.tubs.variantsync.core.category"
            class="de.tubs.variantsync.core.view.targetfocus.View"
            icon="icons/VariantSyncSupport.png"
            id="de.tubs.variantsync.core.view.targetfocus"
            name="Target-Focused View"
            restorable="true">
      </view>
      <category
            id="de.tubs.variantsync.core.category"
            name="Variant Sync">
      </category>
      <view
            category="de.tubs.variantsync.core.category"
            class="de.tubs.variantsync.core.view.featureexpressions.View"
            icon="icons/FeatureExpressionSmall.png"
            id="de.tubs.variantsync.core.view.featureexpressions"
            name="Feature Expressions"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/VariantSyncSupportSmall.png"
            id="de.tubs.variantsync.core.variant.image"
            natureId="de.tubs.variantsync.core.variant">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.tubs.variantsync.core.hasNature">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="de.tubs.variantsync.core.variant">
            </test>
         </adapt>
      </definition>
   </extension>
   <extension
         id="de.tubs.variantsync.core.highlighter.annotation"
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
        annotationType="de.tubs.variantsync.marker.annotations.red"
        colorPreferenceKey="cpkRED"
        colorPreferenceValue="255, 175, 177"
        contributesToHeader="false"
        highlightPreferenceKey="hpkRED"
        highlightPreferenceValue="true"
        icon="icons/VariantSyncSupport.png"
        includeOnPreferencePage="false"
        label="ColorAnnotation_Red"
        overviewRulerPreferenceKey="orpkRED"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="tpkRED"
        textPreferenceValue="true"
        textStylePreferenceKey="tspkRED"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="vrpkRED"
        verticalRulerPreferenceValue="true">
		</specification>
		<specification
        annotationType="de.tubs.variantsync.marker.annotations.orange"
        colorPreferenceKey="cpkORANGE"
        colorPreferenceValue="255, 216, 166"
        contributesToHeader="false"
        highlightPreferenceKey="hpkORANGE"
        highlightPreferenceValue="true"
        icon="icons/VariantSyncSupport.png"
        includeOnPreferencePage="false"
        label="ColorAnnotation_Orange"
        overviewRulerPreferenceKey="orpkORANGE"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="tpkORANGE"
        textPreferenceValue="true"
        textStylePreferenceKey="tspkORANGE"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="vrpkORANGE"
        verticalRulerPreferenceValue="true">
		</specification>
		<specification
        annotationType="de.tubs.variantsync.marker.annotations.yellow"
        colorPreferenceKey="cpkYELLOW"
        colorPreferenceValue="237, 255, 166"
        contributesToHeader="false"
        highlightPreferenceKey="hpkYELLOW"
        highlightPreferenceValue="true"
        icon="icons/VariantSyncSupport.png"
        includeOnPreferencePage="false"
        label="ColorAnnotation_Yellow"
        overviewRulerPreferenceKey="orpkYELLOW"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="tpkYELLOW"
        textPreferenceValue="true"
        textStylePreferenceKey="tspkYELLOW"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="vrpkYELLOW"
        verticalRulerPreferenceValue="true">
		</specification>
		<specification
        annotationType="de.tubs.variantsync.marker.annotations.darkgreen"
        colorPreferenceKey="cpkDARKGREEN"
        colorPreferenceValue="164, 228, 148"
        contributesToHeader="false"
        highlightPreferenceKey="hpkDARKGREEN"
        highlightPreferenceValue="true"
        icon="icons/VariantSyncSupport.png"
        includeOnPreferencePage="false"
        label="ColorAnnotation_DarkGreen"
        overviewRulerPreferenceKey="orpkDARKGREEN"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="tpkDARKGREEN"
        textPreferenceValue="true"
        textStylePreferenceKey="tspkDARKGREEN"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="vrpkDARKGREEN"
        verticalRulerPreferenceValue="true">
		</specification>
		<specification
        annotationType="de.tubs.variantsync.marker.annotations.lightgreen"
        colorPreferenceKey="cpkLIGHTGREEN"
        colorPreferenceValue="166, 255, 201"
        contributesToHeader="false"
        highlightPreferenceKey="hpkLIGHTGREEN"
        highlightPreferenceValue="true"
        icon="icons/VariantSyncSupport.png"
        includeOnPreferencePage="false"
        label="ColorAnnotation_LightGreen"
        overviewRulerPreferenceKey="orpkLIGHTGREEN"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="tpkLIGHTGREEN"
        textPreferenceValue="true"
        textStylePreferenceKey="tspkLIGHTGREEN"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="vrpkLIGHTGREEN"
        verticalRulerPreferenceValue="true">
		</specification>
		<specification
        annotationType="de.tubs.variantsync.marker.annotations.cyan"
        colorPreferenceKey="cpkCYAN"
        colorPreferenceValue="163, 251, 251"
        contributesToHeader="false"
        highlightPreferenceKey="hpkCYAN"
        highlightPreferenceValue="true"
        icon="icons/VariantSyncSupport.png"
        includeOnPreferencePage="false"
        label="ColorAnnotation_Cyan"
        overviewRulerPreferenceKey="orpkCYAN"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="tpkCYAN"
        textPreferenceValue="true"
        textStylePreferenceKey="tspkCYAN"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="vrpkCYAN"
        verticalRulerPreferenceValue="true">
		</specification>
  <specification
        annotationType="de.tubs.variantsync.marker.annotations.blue"
        colorPreferenceKey="cpkBLUE"
        colorPreferenceValue="164, 148, 228"
        contributesToHeader="false"
        highlightPreferenceKey="hpkBLUE"
        highlightPreferenceValue="true"
        icon="icons/VariantSyncSupport.png"
        includeOnPreferencePage="false"
        label="ColorAnnotation_Blue"
        overviewRulerPreferenceKey="orpkBLUE"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="tpkBLUE"
        textPreferenceValue="true"
        textStylePreferenceKey="tspkBLUE"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="vrpkBLUE"
        verticalRulerPreferenceValue="true">
  </specification>
  		<specification
        annotationType="de.tubs.variantsync.marker.annotations.margenta"
        colorPreferenceKey="cpkMARGENTA"
        colorPreferenceValue="240, 166, 255"
        contributesToHeader="false"
        highlightPreferenceKey="hpkMARGENTA"
        highlightPreferenceValue="true"
        icon="icons/VariantSyncSupport.png"
        includeOnPreferencePage="false"
        label="ColorAnnotation_Margenta"
        overviewRulerPreferenceKey="orpkMARGENTA"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="tpkMARGENTA"
        textPreferenceValue="true"
        textStylePreferenceKey="tspkMARGENTA"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="vrpkMARGENTA"
        verticalRulerPreferenceValue="true">
		</specification>
		<specification
        annotationType="de.tubs.variantsync.marker.annotations.pink"
        colorPreferenceKey="cpkPINK"
        colorPreferenceValue="228, 148, 194"
        contributesToHeader="false"
        highlightPreferenceKey="hpkPINK"
        highlightPreferenceValue="true"
        icon="icons/VariantSyncSupport.png"
        includeOnPreferencePage="false"
        label="ColorAnnotation_Pink"
        overviewRulerPreferenceKey="orpkPINK"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="tpkPINK"
        textPreferenceValue="true"
        textStylePreferenceKey="tspkPINK"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="vrpkPINK"
        verticalRulerPreferenceValue="true">
		</specification>
		<specification
        annotationType="de.tubs.variantsync.marker.annotations.lightgrey"
        colorPreferenceKey="cpkLIGHTGREY"
        colorPreferenceValue="228, 228, 228"
        contributesToHeader="false"
        highlightPreferenceKey="hpkLIGHTGREY"
        highlightPreferenceValue="true"
        icon="icons/VariantSyncSupport.png"
        includeOnPreferencePage="false"
        label="ColorAnnotation_LightGrey"
        overviewRulerPreferenceKey="orpkLIGHTGREY"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="tpkLIGHTGREY"
        textPreferenceValue="true"
        textStylePreferenceKey="tspkLIGHTGREY"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="vrpkLIGHTGREY"
        verticalRulerPreferenceValue="true">
		</specification>
		</extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="de.tubs.variantsync.marker.highlighter.red"
            name="de.tubs.variantsync.marker.annotations.red"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
      <type
            markerType="de.tubs.variantsync.marker.highlighter.orange"
            name="de.tubs.variantsync.marker.annotations.orange"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
      <type
            markerType="de.tubs.variantsync.marker.highlighter.yellow"
            name="de.tubs.variantsync.marker.annotations.yellow"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
      <type
            markerType="de.tubs.variantsync.marker.highlighter.darkgreen"
            name="de.tubs.variantsync.marker.annotations.darkgreen"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
      <type
            markerType="de.tubs.variantsync.marker.highlighter.lightgreen"
            name="de.tubs.variantsync.marker.annotations.lightgreen"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
      <type
            markerType="de.tubs.variantsync.marker.highlighter.cyan"
            name="de.tubs.variantsync.marker.annotations.cyan"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
      <type
            markerType="de.tubs.variantsync.marker.highlighter.blue"
            name="de.tubs.variantsync.marker.annotations.blue"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
      <type
            markerType="de.tubs.variantsync.marker.highlighter.margenta"
            name="de.tubs.variantsync.marker.annotations.margenta"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
      <type
            markerType="de.tubs.variantsync.marker.highlighter.pink"
            name="de.tubs.variantsync.marker.annotations.pink"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
      <type
            markerType="de.tubs.variantsync.marker.highlighter.lightgrey"
            name="de.tubs.variantsync.marker.annotations.lightgrey"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="de.ovgu.featureide.ui.wizards.NewConfigurationFileWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="de.ovgu.featureide.fm.ui.wizard.NewFeatureModelWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.tubs.variantsync.core.PerspectiveFactory"
            fixed="false"
            icon="icons/VariantSyncSupport.png"
            id="de.tubs.variantsync.core.perspective"
            name="VariantSync">
      </perspective>
   </extension>

</plugin>
