<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.tubs.variantsync.patcher" name="Patcher" schema="schema/de.tubs.variantsync.patcher.exsd"/>
   <extension
         point="de.ovgu.featureide.core.composers">
      <composer
            class="de.tubs.variantsync.core.VariantSyncComposer"
            description="Creation of Variants"
            id="de.tubs.variantsync.core.composer"
            name="VariantSync"
            nature="de.tubs.variantsync.core.composer">
      </composer>
   </extension>
   <extension
         id="de.tubs.variantsync.marker.highlighter"
         name="Highlighter"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <attribute
            name="description">
      </attribute>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="variant"
         name="VariantSync Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.tubs.variantsync.core.nature.Variant">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.tubs.variantsync.core.toolbar"
               label="VariantSync">
            <command
                  commandId="de.tubs.variantsync.core.command.featureexpression"
                  icon="icons/FeatureExpressionSmall.png"
                  style="push">
            </command>
            <command
                  commandId="de.tubs.variantsync.core.command.context.active"
                  icon="icons/start_task.png"
                  style="toggle">
            </command>
            <command
                  commandId="de.tubs.variantsync.core.command.context"
                  id="de.tubs.variantsync.core.menus.context"
                  mode="FORCE_TEXT"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Variant Sync">
            <command
                  commandId="de.tubs.variantsync.core.command.resourcechanges"
                  icon="icons/VariantSyncSupport.png"
                  label="Show Resource Changes"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="de.tubs.variantsync.core.command.addNature"
               icon="icons/VariantSyncSupport.png"
               id="de.tubs.variantsync.core.menu.addNature"
               label="Add As Variant"
               style="push"
               tooltip="Adds the VariantSync natures to the selected project">
            <visibleWhen
                  checkEnabled="false">
               <not>
                  <reference
                        definitionId="de.tubs.variantsync.core.hasNature">
                  </reference>
               </not>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               icon="icons/VariantSyncSupport.png"
               id="de.tubs.variantsync.core.menus.popupMenu"
               label="VariantSync">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           args="de.ovgu.featureide.core.featureProjectNature"
                           property="de.ovgu.featureide.fm.ui.properties.nature"
                           value="true">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.tubs.variantsync.core.menus.popupMenu">
         <command
               commandId="de.tubs.variantsync.core.command.create.variant"
               icon="icons/VariantSyncSupport.png"
               style="push"
               tooltip="Creates a Variant from a configuration">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <reference
                           definitionId="de.ovgu.featureide.ui.expressions.containsConfiguration">
                     </reference>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:de.tubs.variantsync.core.menus.context">
         <dynamic
               class="de.tubs.variantsync.core.view.context.DynamicContextDropDownItems"
               id="de.tubs.variantsync.core.menu.context.items">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ui.handlers.ShowViewHandler"
            id="de.tubs.variantsync.core.command.source-view"
            name="Show Source-Focused View">
      </command>
      <command
            defaultHandler="org.eclipse.ui.handlers.ShowViewHandler"
            id="de.tubs.variantsync.core.command.target-view"
            name="Show Target-Focused View">
      </command>
      <command
            defaultHandler="de.tubs.variantsync.core.view.featureexpressions.FeatureExpressionsHandler"
            id="de.tubs.variantsync.core.command.featureexpression"
            name="Feature Expressions">
      </command>
      <command
            defaultHandler="de.tubs.variantsync.core.view.context.SelectContextHandler"
            description="Select Context"
            id="de.tubs.variantsync.core.command.context"
            name="Default context">
         <commandParameter
               id="de.tubs.variantsync.core.command.context.msg"
               name="Message"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.tubs.variantsync.core.view.context.ActiveContextHandler"
            id="de.tubs.variantsync.core.command.context.active"
            name="Active context">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="org.eclipse.ui.handlers.ShowViewHandler"
            id="de.tubs.variantsync.core.command.resourcechanges"
            name="Show Resource Changes">
      </command>
      <command
            categoryId="de.tubs.variantsync.core.category"
            defaultHandler="de.tubs.variantsync.core.commands.AddVariantNature"
            id="de.tubs.variantsync.core.command.addNature"
            name="Add Variant">
      </command>
      <category
            id="de.tubs.variantsync.core.category"
            name="VariantSync">
      </category>
      <command
            categoryId="de.tubs.variantsync.core.category"
            defaultHandler="de.tubs.variantsync.core.commands.CreateVariantProject"
            id="de.tubs.variantsync.core.command.create.variant"
            name="Create Variant Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="de.tubs.variantsync.core.view.resourcechanges"
               minimized="false"
               moveable="true"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.tubs.variantsync.core.category"
            class="de.tubs.variantsync.core.view.resourcechanges.View"
            icon="icons/VariantSyncSupport.png"
            id="de.tubs.variantsync.core.view.resourcechanges"
            name="Resource Changes"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.tubs.variantsync.core.category"
            class="de.tubs.variantsync.core.view.sourcefocus.View"
            icon="icons/VariantSyncSupport.png"
            id="de.tubs.variantsync.core.view.sourcefocus"
            name="Source-Focused View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.tubs.variantsync.core.category"
            class="de.tubs.variantsync.core.view.targetfocus.View"
            icon="icons/VariantSyncSupport.png"
            id="de.tubs.variantsync.core.view.targetfocus"
            name="Target-Focused View"
            restorable="true">
      </view>
      <category
            id="de.tubs.variantsync.core.category"
            name="Variant Sync">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/VariantSyncSupportSmall.png"
            id="de.tubs.variantsync.core.variant.image"
            natureId="de.tubs.variantsync.core.variant">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.tubs.variantsync.core.hasNature">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="de.tubs.variantsync.core.variant">
            </test>
         </adapt>
      </definition>
   </extension>
   <extension
         id="de.tubs.variantsync.marker.error"
         name="VariantSync Error"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="de.ovgu.featureide.core.configurationProblemMarker">
      </super>
   </extension>

</plugin>
